* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
}

body {
  overflow: hidden;
  background-image:url('../img/codescreen.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden !important;
  background-position: left;
}

    .sidebar {
      display: inline-block;
      min-height: 120vh;
      margin: 0 !important;
      padding: 0 !important;
      width: 130px;
      background-color: white;
      float: left;
    }
    .sidebar li {
      text-align: center;
      color: white;
    }
    .sidebar ul li {
      cursor: pointer;
    }
    /*.sidebar ul li:hover {
      background-color: rgba(15, 13, 131, 0.836) !important;
    }
    .sidebar ul li.active {
      background-color: #00000000;
    }*/
.button {
  border: none;
  text-align: center;
  color:white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.26);
}   
.in-container {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}
.content {
  width: 100%;
  height: auto;
  border: none;
}