/*main*/
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  overflow: hidden;
  background-image:url('../img/codescreen.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden !important;
  background-position: left;
}
/*sidebar*/
.sidebar {
  display: inline-block;
  width: 130px;
  float: left;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
}
.sidebar li {
  text-align: center;
  color: white;
}
/*sidebar content*/
.logo{
  width: 120px;
}
.button {
  height: 120px;
  width: 120px;
  border: none;
  text-align: center;
  color:white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
/*iframe*/
.in-container {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}
.content {
  width: 100%;
  height: auto;
  border: none;
}