/*main*/
body{
    display:flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    color:white;
}
h2{
    font-family: 'Courier New', monospace, bold;
    font-size: 60px;
}
h3{
    font-family: 'Courier New', monospace, bold;
    font-size: 30px;
}
.text{
    max-width:90vh;
    margin-top:10px;
    font-family:'Trebuchet MS',sans-serif;
    color:white;
    text-align:center;
    font-size: 17px;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #88888886; 
}
::-webkit-scrollbar-thumb:hover {
    background: #888888c7; 
}